@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
}

.h1__second-style {
  color: white;
  font-weight: 600;
  font-size: 96px;
  font-family: var(--font-base);
}

.app__background {
  position: relative;
}
.app__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111820;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}
.app__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #192AEA;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.1;
}

.head-text {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  font-family: var(--font-base-dm);
  text-transform: capitalize;
}
.head-text span {
  color: var(--secondary-color);
}
@media screen and (min-width: 2000px) {
  .head-text {
    font-size: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .head-text {
    font-size: 2rem;
  }
}

.bold-text {
  font-size: 3rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;
}
@media screen and (min-width: 2000px) {
  .bold-text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .bold-text {
    font-size: 0.9rem;
  }
}

.p-text-gray, .p-text-black, .p-text-white {
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font-base-dm);
}
@media screen and (min-width: 2000px) {
  .p-text-gray, .p-text-black, .p-text-white {
    font-size: 1.75rem;
  }
}

.p-text-gray {
  color: var(--gray-color);
}

.p-text-black {
  color: var(--black-color);
}

.p-text-white {
  color: var(--white-color);
}

.col-25 {
  width: 25%;
}

.col-50 {
  display: flex;
  width: 50%;
}

a {
  text-decoration: none;
}

.greeting {
  background: center/cover no-repeat url(../img/Fon_MTK.png);
  position: relative;
  min-height: 100vh;
}
.greeting .container {
  z-index: 4 !important;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  width: 640px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 55px 60px 0 0;
}
nav .logo {
  margin: 40px 0 0 90px;
}
nav a {
  color: white;
  font-size: 15px;
}
nav a:hover {
  color: rgb(64, 105, 211);
}

.items__greeting {
  text-align: center;
  padding-bottom: 375px;
  padding-top: 200px;
}
.items__greeting .sub__title {
  color: var(--white-color);
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 20px 0;
}
.items__greeting .p__headline {
  color: var(--white-color);
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-base);
  margin-bottom: 20px;
}
.items__greeting button {
  background-color: var(--white-color);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.items__greeting .header__button-left {
  background-color: var(--white-color);
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 60px;
}
.items__greeting .header__button-left a {
  color: var(--black-color);
}
.items__greeting .header__button-right {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #4069D3;
  padding: 15px 30px;
  border-radius: 60px;
  margin-left: 10px;
}
.items__greeting .header__button-right a {
  color: var(--white-color);
}
.items__greeting a {
  font-family: var(--font-base-dm);
  font-size: 20px;
  font-weight: 400;
}

.profession__block-items {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-auto-rows: auto;
  justify-content: center;
  gap: 46px;
}
.profession__block-items .profession__block-item {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  min-height: 300px;
  text-align: center;
  padding: 16px;
}
.profession__block-items .profession__block-item img {
  grid-row: 1;
  width: 100%;
}
.profession__block-items .p-text-gray {
  grid-row: 4;
}
.profession__block-items .profession__block-item span {
  grid-row: 3;
  width: 34px;
  height: 4px;
  border-radius: 30px;
  background-color: #313BAC;
  margin: 23px 0 16px 0;
}
.profession__block-items .profession__title {
  grid-row: 2;
  font-family: var(--font-base-dm);
  color: var(--black-color);
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
}

.questions__block-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.questions__block-items .questions__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 24px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  margin: 10px 0 0 10px;
}
.questions__block-items .questions__item:hover {
  background-color: #f5f5f5;
}
.questions__block-items .questions__item p {
  font-family: var(--font-base-dm);
  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
  margin: 0;
}
.questions__block-items .questions__item .questions__plus {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  border-radius: 50%;
  font-size: 40px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}
.questions__block-items .questions__item .questions__plus::after {
  content: "+";
}

.items__greeting {
  text-align: center;
  margin: 344px 0 0 0;
}
.items__greeting h1 {
  font-weight: 600;
  font-size: 96px;
  font-family: var(--font-base);
}

.about__items {
  display: flex;
  justify-content: space-around;
  margin: 226px 0 0 0;
}
.about__items article {
  max-width: 617px;
  position: relative;
}
.about__items article p {
  font-family: var(--font-base-dm);
  font-weight: 500;
  font-size: 40px;
  text-align: end;
}
.about__items article p:nth-child(3) {
  color: var(--secondary-color);
  font-size: 28px;
  margin: 30px 0 70px 0;
}
.about__items article .line {
  width: 20px;
  height: 151px;
  background: linear-gradient(#313BAC, #FFFFFF);
  position: absolute;
}
.about__items .about__description-item {
  max-width: 656px;
  width: 100%;
  height: 212px;
}
.about__items .about__description-item .about__img-box img {
  width: 19.2rem;
}
.about__items .about__description-item .about__img-box img:nth-child(1) {
  margin: 0 36px 0 0;
}
.about__items .about__description-item .text__description {
  margin: 73px 0 61px 0;
}
.about__items .about__statistics {
  display: flex;
  justify-content: space-between;
  text-align: start;
  max-width: 681px;
  width: 100%;
  margin: 0 0 84px 0;
}
.about__items .about__statistics .stat span {
  font-size: 40px;
  font-family: var(--font-base-dm);
  font-weight: 500;
  color: var(--black-color);
}
.about__items .about__statistics .stat p {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-family: var(--font-base-dm);
  font-weight: 400;
  color: var(--black-color);
}

.about__info {
  display: flex;
  position: relative;
}
.about__info .image-group {
  position: relative;
  display: flex;
  gap: 10px;
}
.about__info .image-group img {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid transparent;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__info .image-group img:nth-child(1) {
  top: 0;
  left: 0;
}
.about__info .image-group img:nth-child(2) {
  top: 0px;
  left: 44px;
}
.about__info .image-group img:nth-child(3) {
  top: 0px;
  left: 88px;
}
.about__info .learn-more {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--black-color);
  font-family: var(--font-base-dm);
  gap: 10px;
  position: absolute;
  left: 200px;
  top: 12px;
}
.about__info .learn-more .button-circle {
  width: 50px;
  height: 50px;
  background-color: var(--gray-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.about__info-items {
  display: flex;
  width: calc(100% + 40px);
}
.about__info-items:nth-child(1) {
  margin: 139px 0 0 0;
}
.about__info-items:nth-child(2) {
  flex-direction: row-reverse;
}
.about__info-items:nth-child(2) img {
  margin: 0 0 0 172px;
}
.about__info-items article {
  padding: 64px 0 0 0;
  max-width: 500px;
  width: 100%;
}
.about__info-items article .p-text-black:nth-child(4) {
  margin: 0 0 50px 0;
}
.about__info-items article hr {
  max-width: 250px;
  height: 3px;
  border: 0;
  background-color: var(--secondary-color);
  margin: 50px 0 40px 0;
}
.about__info-items article h2 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--font-base-dm);
  color: var(--black-color);
  margin-bottom: 10px;
}
.about__info-items article h3 {
  font-weight: 400;
  size: 20px;
  font-family: var(--font-base-dm);
  color: var(--secondary-color);
}
.about__info-items img {
  max-width: 720px;
  margin: 0 50px 0 0;
}

footer {
  background-color: var(--black-color);
  margin: 250px 0 0 0;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}
.footer__items .footer__child {
  text-align: center;
  padding: 70px 0 0 0;
}
.footer__items .footer__child h2 {
  size: 18px;
  font-weight: 800;
  font-family: var(--font-base-dm);
  color: var(--primary-color);
  margin-bottom: 20px;
}
.footer__items .footer__child p {
  margin: 0 0 15px 0;
}

.footer__sub-items {
  margin: 220px 0 0 0;
  display: flex;
  justify-content: space-between;
}

:root {
  --font-base: "Cormorant";
  --font-base-dm: "Roboto";
  --primary-color: #edf2f8;
  --secondary-color:#313BAC;
  --black-color: #0e0e0e;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */